.flightsPage {
  background-color: rgb(75,136,243);
  padding-top:50px;
  padding-bottom: 50px;
  margin: 0; /* Varsayılan marginleri kaldır */
  display: flex;
  justify-content: center; /* Yatayda ortala */
  align-items: center; /* Dikeyde ortala */
  
}



.flightsPageContainer {
  flex-direction: column;
 
  background-color: rgb(246, 244, 248); /* Çerçevenin rengi */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Hafif gölge efekti */
  width: 90%; /* Çerçevenin genişliği */
  max-width: 100%; /* Maksimum genişlik */
  justify-content: space-between;
  border-radius: 10px;
  height:80%;
  max-height: 100%;
  text-align:left;
  
  
}
.headerFlights {
  padding:20px;
  display: flex;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: white;
  flex-direction: row;
  justify-content: space-between;
}
.headerLeftFlights{
display: flex;
  align-items: center;
}
.headerMidFlights{
display: flex;
  align-items: center;
}
.rightHeaderFlights {
display: flex; /* İçeriği yatayda hizalar */
justify-content:flex-end; /* İçeriği sağ tarafa hizalar */
margin-right: 100;
align-items: center;
}
.buttonHeader{
  margin-right:20px;
  font-weight: bold;
}
.planeIcon {
width: 25px;
margin-right: 8px;
transform: rotate(90deg);
border-radius: 50%;

}
.headerText {
  
color: #4a4a4a;
}

.headerText {
font-weight: bold;
font-family:'Times New Roman', Times, serif;
}
.vr{
    margin-left: 10px;
    margin-right: 10px;
    border-left: 2px solid lightgray;
    height:60%;
  }
  .flightPageContent
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }


  .contentMyFlights{
    border-radius: 5px;
    width: 90%;
    margin-bottom: 30px;
    display: flex;
    padding: 25px;
    justify-content: space-between;
    background-color: white;
    flex-direction: row;
  }
  .leftContentMyFlights{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .rightContentMyFlights{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .contentHeader{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin-top: 30px;
   margin-bottom: 30px;
    width: 92.75%;
  }
  .myFlightsDetails{
    display: flex;
    flex-direction: column;
    margin-left:50px;
    
  }
 .cart{
  display: flex;
  border:1px solid gray;
  height: 100px;
  margin-left:10px;
  border-radius: 5px;
  width:100px;
  position: relative;
  flex-direction: column;
  text-align: center;
 padding-top: 20px;
  
  
  
 }
 .cartdisable{
  display: flex;
  border:1px solid rgb(232	234	236	);
  height: 100px;
  margin-left:10px;
  border-radius: 5px;
  background-color: rgb(232	234	236	);
  width:100px;
 }
 .price{
  font-weight: bold;
  font-size:18px;
 }
 .ticketType{
  color:gray;
  font-size:14px;
 }
  .timeContent{
    display: flex;
    justify-content: flex-start;
  }
  .timeText{
    font-size: 24px;
    display: flex;
  }
.myFlightsDetails{
  display: flex;
  margin-top: 25px;
  
  
}


